<h3>{{section.settings.heading}}</h3>
<p>{{section.settings.description}}</p>

{%for block in section.blocks %}
	<img src="{{block.settings.image | img_url:'master'}}"/>
{%endfor%}


{% schema %}
  {
    "name": "Add new button to section",
    "settings": [
					{
						"type": "text",
						"label": "your headline",
						"id": "heading"

					},
					{
						"type": "richtext",
						"label": "your description",
						"id": "description"

					}

				],
	
	"blocks": [

		{
        "type":"image",
        "name":"image block",
        "settings":[
          {
          "type":"image_picker",
          "label":"your image",
          "id":"image"
          }

        ]
        },
{

	"type":"text",
	"name":"add button",
	"settings": [
		{
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Optional button"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Link"
          }

]

}

        ],
		
		"presets": [
		{
	"category":"image",
"name":"add-button"
}
]

  }
{% endschema %}

